<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
    <link rel="shortcut icon" href="https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-white.png" type="image/x-icon">
    <title>NUUX Blog</title>
</head>

<body>
    <!-- header -->
    <div class="bgimg">
        <nav class="navbar">
            <div class="logo"><a href="home"><img
                        src="https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-white.png" alt="logo" width="100px"></a>
            </div>
            <ul class="menu">
                <li class="menuitem"><a href="home" class="atag">HOME</a></li>
                <li class="menuitem"><a href="project" class="atag">PROJECTS</a></li>
                <li class="menuitem"><a href="about" class="atag">ABOUT</a></li>
                <li class="menuitem"><a href="service" class="atag">SERVICES</a></li>
                <li class="menuitem"><a href="blogs" class="atag">BLOG</a></li>
                <li class="menuitem dropit">PAGES <img
                            src="https://nuuk-e3eaa.firebaseapp.com/assets/img/sort-down.svg" alt=">" width="9px">

                        <ul class="dropdown">
                            <li class="drop"><a href="error" class="atag"> 404 ERROR PAGE</a></li>
                            <li class="drop"><a href="protected" class="atag"> PROTECTED PAGE</a></li>
                            <li class="drop"><a href="license" class="atag"> LICENSING</a></li>
                        </ul>
                    </li>
            </ul>
            <div class="getform bringform">
                <p class="">GET FREE QUOTE <br>( hover here )</p>
                <div class="quoteform">
                    <h1>GET A FREE QUOTE(over mail)</h1>
                    <form action="" method="get">
                        <input type="text" name="" id="text" placeholder="FULL NAME" class="form">
                        <input type="email" name="" id="" placeholder="EMAIL ADDRESS" class="form">
                        <input type="tel" name="" id="" placeholder="PHONE NUMBER" class="form">
                        <textarea name="info" id="" cols="30" rows="5" class="form"
                            placeholder="MORE INFORMATION"></textarea>
                        <input type="submit" value="SEND MESSAGE" class="btn">
                    </form>
                </div>
            </div>
        </nav>

        <div class="quote">
            <h1 class="quote1">YOU DREAM. WE CREATE.</h1>
            <p class="quote2">We turn your ideas to reality, we dont stop until you're satisfied.</p>
            <a href="quiz"><input type="button" name="btn" class="btn " value="Quiz"></a>
        </div>
        <div class="info">
            <div class="infodiv"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/phone.svg" alt="phone"
                    width="25px">
                <p class="white">PHONE NUMBER</p>
                <p>1-800-506-266</p>
                <p>1-100-777-800</p>
            </div>
            <div class="infodiv"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/mail.svg" alt="mail"
                    width="25px">
                <p class="white">CONTACT</p>
                <p>contact@nuuk.com</p>
                <p>info@nuuk.com</p>
            </div>
            <div class="infodiv"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/clock.svg" alt="" width="25px">
                <p class="white">OPENING TIMES</p>
                <p>Mon - Sat 8:00 - 17:30, Saturday-Closed</p>
                <a href="#" class="atag white">FIND ON MAP</a>
            </div>
        </div>

        <div class="media">
            <div class="medialogo"><a href="https://www.facebook.com/"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/facebook-logo.png" alt="" width="15px"></a>
            </div>
            <div class="medialogo"><a href="https://twitter.com/i/flow/login"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/twitter-logo.png" alt=""
                    width="15px"></a>   </div>
            <div class="medialogo"><a href="https://in.linkedin.com/"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/linkedin-logo.png" alt=""
                    width="15px"></a>   </div>
            <div class="medialogo"><a href="https://www.instagram.com/"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/instagram-logo.png" alt=""
                    width="15px"></a>
            </div>
        </div>

    </div>
    <br><br>
    <!-- content -->
    <div class="page7">
        <h1 class="opac2">BLOG</h1>
            <h1 class="title">LATEST NEWS</h1>
            
        <div class="blog">
            <div class="blogpost">
                <div class="date">
                    <div class="day">13</div>
                    <div class="month">MAY</div>
                </div>
                <div><img src="https://assets.website-files.com/61aec2246800346a157a70ad/62c22174e6b7ec88bac9f153_bathroom-inspo-jdg-constructions.jpg" alt="" width="100%"></div>
                <div class="blogpost-text">
                    <h4>Bathroom Trends You’ll Want To Incorporate In Your Bathroom Renovation</h4>
                    <p>We love a beautiful bathroom. We really do!  There’s nothing more comforting and luxurious than stepping into a hot shower or bath at the end of a long day, and even better when you’re doing it in a stunning new bathroom!</p>
                    <a href="demo" class="atag read">READ MORE</a></div>
            </div>
            <div class="blogpost">
                <div class="date">
                    <div class="day">17</div>
                    <div class="month">SEP</div>
                </div>
                <div><img src="https://assets.website-files.com/61aec2246800346a157a70ad/62c21f5bbd875d3198e3e2c0_kitchen-renovation-jdg-constructions.jpg" alt="" width="100%"></div>
                <div class="blogpost-text">
                    <h4>4 ways to tell if your kitchen needs a renovation.</h4>
                    <p>Sometimes it can be hard to tell whether you’re just wanting a change (as in, you’ve just seen a beautiful new kitchen and have a bit of FOMO) or whether your kitchen REALLY does need an overhaul. <br><br></p>
                    <a href="demo" class="atag read">READ MORE</a></div>
            </div>
            <div class="blogpost">
                <div class="date">
                    <div class="day">27</div>
                    <div class="month">OCT</div>
                </div>
                <div><img src="https://assets.website-files.com/61aec2246800346a157a70ad/629ea13dfde182de7e5b84b8_external-cladding-options.jpg" alt="" width="100%"></div>
                <div class="blogpost-text">
                <h4>5 Exterior Cladding Options To Bring Instant Street Appeal.</h4>
                <p>Street appeal is a must these days, and let’s face it, nothing makes you feel prouder than when someone turns up to your home and exclaims ‘wow!’

                One way to achieve that is through the presentation of exterior walls by using cladding. </p>
                <a href="demo" class="atag read">READ MORE</a></div>
            </div>
        </div>

        <div class="blog">
            <div class="blogpost">
                <div class="date">
                    <div class="day">23</div>
                    <div class="month">JUN</div>
                </div>
                <div><img src="https://assets.website-files.com/61aec2246800346a157a70ad/62049f5274f4f53b2036541c_window-types.jpg" alt="" width="100%"></div>
                <div class="blogpost-text">
                    <h4>What Windows Will Work Best In My New Home?</h4>
                    <p>Long gone are the days of ‘standard’ window. There are so many wonderful and interesting options to choose from these days that allow excellent ventilation and light and also makes a room a comfortable place to reside in.</p>
                    <a href="demo" class="atag read">READ MORE</a></div>
            </div>
            <div class="blogpost">
                <div class="date">
                    <div class="day">27</div>
                    <div class="month">AUG</div>
                </div>
                <div><img src="https://assets.website-files.com/61aec2246800346a157a70ad/622148191bde287d7f15e9e8_decorative-timber-making-a-comeback%201.jpg" alt="" width="100%"></div>
                <div class="blogpost-text">
                    <h4>Decorative timber panelling is making a comeback!</h4> 
                    <p>Many people think of timber panelling from the 80’s, where many houses were built with timber lining the walls and ceilings of almost every room in the house!  </p>
                    <a href="demo" class="atag read">READ MORE</a></div>
            </div>
            <div class="blogpost">
                <div class="date">
                    <div class="day">27</div>
                    <div class="month">DEC</div>
                </div>
                <div><img src="https://assets.website-files.com/61aec2246800346a157a70ad/626f29c06770a43dba84f269_lighting-styles-jdg-constructions.jpg" alt="" width="100%"></div>
                <div class="blogpost-text">
                <h4>Let There Be Light! What lights will work best in your new home.</h4>
                <p>Lighting can really make a difference to the overall look and feel of your home.  Lighting can create warmth, highlight architectural features and assist with everyday living.</p>
                <a href="demo" class="atag read">READ MORE</a></div>
            </div>
        </div>

        <div class="blog">
            <div class="blogpost">
                <div class="date">
                    <div class="day">07</div>
                    <div class="month">OCT</div>
                </div>
                <div><img src="https://assets.website-files.com/61aec2246800346a157a70ad/626f27a12d2fff61c89c22c5_3-tips-before-you-build.jpg" alt="" width="100%"></div>
                <div class="blogpost-text">
                    <h4>3 important tips before you build your new home!
                    </h4>
                    <p>There are a multitude of things you need to consider before you build your new home. And while we’d love to share everything with you.<br>1.The build schedule is a guideline. <br>2.A contingency in your budget is a must. <br>3.Complete the build before moving in.  </p>
                    <a href="demo" class="atag read">READ MORE</a></div>
            </div>
            <div class="blogpost">
                <div class="date">
                    <div class="day">15</div>
                    <div class="month">FEB</div>
                </div>
                <div><img src="https://assets.website-files.com/61aec2246800346a157a70ad/625364797e75a0143d143a1e_hardwood-floors-jdg-constructions.jpg" alt="" width="100%"></div>
                <div class="blogpost-text">
                    <h4>Hardwood Flooring vs Engineered Timber Floors.</h4>
                    <p>The flooring you choose in your new home build or renovation can really make or break a space!  It might seem like a simple enough choice, there’s actually a lot to consider when selecting your flooring, such as your budget, room utility, style of the room/home and more. <br></p>
                    <a href="demo" class="atag read">READ MORE</a></div>
            </div>
            <div class="blogpost">
                <div class="date">
                    <div class="day">19</div>
                    <div class="month">NOV</div>
                </div>
                <div><img src="https://assets.website-files.com/61aec2246800346a157a70ad/62049c5af5479473ba4d08ba_ceramic-vs-stone-tiles.jpg" alt="" width="100%"></div>
                <div class="blogpost-text">
                <h4>Natural Stone vs Ceramic Tiles.</h4>
                <p>When it comes to choosing the right flooring for your new home build or renovation, it’s important to choose something that fits in with the style as well as fitting in with how you live your life.
                We’ll help you select the most appropriate flooring that you’ll love!
                </p>
                <a href="demo" class="atag read">READ MORE</a></div>
            </div>
        </div>
        
    </div>
    

    <!-- footer -->
    <footer>
        <div class="footer">
            <h5 class="on-line">ABOUT NUUK</h5>
            <p>Based on collective work and shared knowledge, Nuuk aims to favor dialogue and debate, to transform
                individual knowledge into increased creative potential.</p>
            <a href="https://www.google.com/maps" class="atag">
                <p class="linktext">FIND ON MAP</p>
            </a>
        </div>

        <div class="footer">
            <h5 class="on-line">SERVICES </h5>
            <a href="service" class="atag ">
                <p class="linktext ">FINNANCIAL RESULTS</p>
            </a>
            <a href="service" class="atag">
                <p class="linktext">CONSTRUCTION</p>
            </a>
            <a href="service" class="atag">
                <p class="linktext">ARCHITECTURE</p>
            </a>
            <a href="service" class="atag">
                <p class="linktext">RENOVATION</p>
            </a>
        </div>

        <div class="footer"><br>
            <h5 class="on-line">CONTACT US</h5>
            <div><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/phone.svg" alt="" width="15px"> <span>PHONE
                    NUMBER</span>
                <p class="grey">1-800-506-266</p>
            </div>
            <div><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/clock.svg" alt="" width="15px"> <span>OPENING
                    TIMES</span>
                <p class="grey">Mon-Sat 8:00-17:30, Sunday-Closed</p>
            </div>
            <div><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/mail.svg" alt="" width="15px">
                <span>CONTACT</span>
                <p class="grey">contact@nuuk.com</p>
            </div>

        </div>
        <div class="logo2"><a href="home"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-white.png"
                    alt="logo" width="100px"></a></div>
    </footer>
</body>

</html>