<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="extrastyle.css">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
    <link rel="shortcut icon" href="https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-white.png" type="image/x-icon">
    <title>License of NUUX</title>
</head>

<body>
    <!-- header -->
        <nav class="navbar">
            <div class="logo"><a href="home"><img
                        src="https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-white.png" alt="logo" width="100px"></a>
            </div>
            <ul class="menu">
                <li class="menuitem"><a href="home" class="atag">HOME</a></li>
                <li class="menuitem"><a href="project" class="atag">PROJECTS</a></li>
                <li class="menuitem"><a href="about" class="atag">ABOUT</a></li>
                <li class="menuitem"><a href="service" class="atag">SERVICES</a></li>
                <li class="menuitem"><a href="blogs" class="atag">BLOG</a></li>
                <li class="menuitem dropit">PAGES <img
                            src="https://nuuk-e3eaa.firebaseapp.com/assets/img/sort-down.svg" alt=">" width="9px">

                        <ul class="dropdown">
                            <li class="drop"><a href="error" class="atag"> 404 ERROR PAGE</a></li>
                            <li class="drop"><a href="protected" class="atag"> PROTECTED PAGE</a></li>
                            <li class="drop"><a href="license" class="atag"> LICENSING</a></li>
                        </ul>
                    </li>
            </ul>
            <div class="getform bringform">
                <p class="">U have Entered <br> in DEMO page</p>
            </div>
        </nav>
        <!-- content -->
    
        <p id="note">  <br>   <br><br>You have entered in DemoPage <br><br> As, <br> this is a Demo website  created to demostrate my skills so some pages are note add as they have no purpose for existance. <br><br> Plz click on NUUK logo to redirect to homepage </p><br><br>


    <!-- footer -->
    <footer>
        <div class="logo2"><a href="home"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-white.png" alt="logo" width="100px"></a></div>
    </footer>
</body>

</html>