<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
    <link rel="shortcut icon" href="https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-white.png" type="image/x-icon">
    <title>NUUX</title>
</head>

<body>
    <div class="bgimg">
        <nav class="navbar">
            <div class="logo"><a href="home"><img
                        src="https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-white.png" alt="logo" width="100px"></a>
            </div>
            <ul class="menu">
                <li class="menuitem"><a href="home" class="atag">HOME</a></li>
                <li class="menuitem"><a href="project" class="atag">PROJECTS</a></li>
                <li class="menuitem"><a href="about" class="atag">ABOUT</a></li>
                <li class="menuitem"><a href="service" class="atag">SERVICES</a></li>
                <li class="menuitem"><a href="blogs" class="atag">BLOG</a></li>
                <li class="menuitem dropit">PAGES <img
                            src="https://nuuk-e3eaa.firebaseapp.com/assets/img/sort-down.svg" alt=">" width="9px">

                        <ul class="dropdown">
                            <li class="drop"><a href="error" class="atag"> 404 ERROR PAGE</a></li>
                            <li class="drop"><a href="protected" class="atag"> PROTECTED PAGE</a></li>
                            <li class="drop"><a href="license" class="atag"> LICENSING</a></li>
                        </ul>
                    </li>
            </ul>
            <div class="getform bringform">
                <p class="">GET FREE QUOTE <br>( hover here )</p>
                <div class="quoteform">
                    <h1>GET A FREE QUOTE</h1>
                    <form action="" method="get">
                        <input type="text" name="" id="text" placeholder="FULL NAME" class="form">
                        <input type="email" name="" id="" placeholder="EMAIL ADDRESS" class="form">
                        <input type="tel" name="" id="" placeholder="PHONE NUMBER" class="form">
                        <textarea name="info" id="" cols="30" rows="5" class="form"
                            placeholder="MORE INFORMATION"></textarea>
                        <input type="submit" value="SEND MESSAGE" class="btn">
                    </form>
                </div>
            </div>
        </nav>

        <div class="quote">
            <h1 class="quote1">YOU DREAM. WE CREATE.</h1>
            <p class="quote2">We turn your ideas to reality, we dont stop until you're satisfied.</p>
            <a href="quiz"><input type="button" name="btn" class="btn " value="Quiz"></a>
        </div>
        <div class="info">
            <div class="infodiv"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/phone.svg" alt="phone"
                    width="25px">
                <p class="white">PHONE NUMBER</p>
                <p>1-800-506-266</p>
                <p>1-100-777-800</p>
            </div>
            <div class="infodiv"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/mail.svg" alt="mail"
                    width="25px">
                <p class="white">CONTACT</p>
                <p>contact@nuuk.com</p>
                <p>info@nuuk.com</p>
            </div>
            <div class="infodiv"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/clock.svg" alt="" width="25px">
                <p class="white">OPENING TIMES</p>
                <p>Mon - Sat 8:00 - 17:30, Saturday-Closed</p>
                <a href="#" class="atag white">FIND ON MAP</a>
            </div>
        </div>

        <div class="media">
            <div class="medialogo"><a href="https://www.facebook.com/"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/facebook-logo.png" alt="" width="15px"></a>
            </div>
            <div class="medialogo"><a href="https://twitter.com/i/flow/login"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/twitter-logo.png" alt=""
                    width="15px"></a>   </div>
            <div class="medialogo"><a href="https://in.linkedin.com/"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/linkedin-logo.png" alt=""
                    width="15px"></a>   </div>
            <div class="medialogo"><a href="https://www.instagram.com/"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/instagram-logo.png" alt=""
                    width="15px"></a>
            </div>
        </div>

    </div>
    <!-- Page1 -->
    <div class="product">
        <div>
            <h1 class="opac0">SERVICES</h1>
            <h1 class="title">OUR SPECIALIZATION</h1><a href="service" class="service atag hover">VIEW ALL SERVICES</a>
        </div>
        <div class="productdetail"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/brickwall.svg" alt=""
                width="60px">
            <h3>RENOVATION</h3>
            <p class="grey">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas quod sint neque maiores,
                ipsam itaque
                porro reprehenderit libero. </p>
            <a href="demo" class="atag grey hover">LEARN MORE</a>
        </div>
        <div class="productdetail"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/set-square.svg" alt=""
                width="60px">
            <h3>ARCHITURE</h3>
            <p class="grey">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas quod sint neque maiores,
                ipsam itaque
                porro reprehenderit libero.</p>
            <a href="demo" class="atag grey hover">LEARN MORE</a>
        </div>
        <div class="productdetail"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/toolbox.svg" alt=""
                width="60px">
            <h3>CONSTRUCTION</h3>
            <p class="grey">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas quod sint neque maiores,
                ipsam itaque
                porro reprehenderit libero. </p>
            <a href="demo" class="atag grey">LEARN MORE</a>
        </div>
        <div class="productdetail"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/paint-roller.svg" alt=""
                width="60px">
            <h3>FINANCIAL RESULT</h3>
            <p class="grey">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas quod sint neque maiores,
                ipsam itaque
                porro reprehenderit libero.</p>
            <a href="demo" class="atag grey hover">LEARN MORE</a>
        </div>
    </div>
    <!-- Page2 ended -->

    <div class="page3">
        <div class="page3-1">
            <div class="page3-1-0">
                <img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/serv-1.jpg" alt="Our work" width="100%"
                    height="400px">
            </div>
            <div class="page3-1-0">
                <div class="qq">
                    <h1 class="opac">ABOUT</h1>
                    <h1 class=" text">Who WE ARE</h1>
                    <p class=" text">Based on collective work and shared knowledge, Nuuk aims to favor dialogue and
                        debate,
                        to transform individual knowledge into increased creative potential. <br><br>
                        Our studio is a architecture practice based in NY and Paris. Today, it includes 150 architects,
                        urban planners, landscape and interior designers of 25 different nationalities. The company
                        principle of Architecture-Studio is the collective conception. From the very beginning, the
                        practice
                        has believed in the virtues of exchange, crossing ideas, common effort, shred knowledge.</p>
                    <p class=" text"> <a href="#myteam" class="atag hover">MEET THE TEAM</a></p>
                </div>

            </div>
        </div>
        <div class="page3-2">
            <div class="page3-2-0">
                <p class="digit">170</p>
                <p class="experience">Employer with over 10 years of experience</p>
            </div>
            <div class="page3-2-0">
                <p class="digit">10</p>
                <p class="experience">Years experience in construction industries</p>
            </div>
            <div class="page3-2-0">
                <p class="digit">690</p>
                <p class="experience">Resindential premises completed in 2022</p>
            </div>
            <div class="page3-2-0">
                <p class="digit">7.1</p>
                <p class="experience">Millon dollar value on inverstments</p>
            </div>
        </div>
    </div>
    <!-- page3 ended -->
    <div class="page4">
        <h1 class="opac2">PROJECTS</h1>
        <h1 class="title">OUR WORK</h1>
        <a href="project" class="service atag hover">VIEW ALL SERVICES</a>
        <div class="work">
            <div class="photo"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/p-1.jpg" alt="" width="100%"
                    class="imgopac">
                <div class="animate">
                    <a href="demo"><p>VIEW PROJECT</p></a>
                </div>
            </div>
            <div class="photo"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/p-4.jpg" alt="" width="100%"
                    class="imgopac">
                <div class="animate">
                    <a href="demo"><p>VIEW PROJECT</p></a>
                </div>
            </div>
            <div class="photo"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/p-3.jpg" alt="" width="100%"
                    class="imgopac">
                <div class="animate">
                    <a href="demo"><p>VIEW PROJECT</p></a>
                </div>
            </div>

            <div class="photo"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/p-6.jpg" alt="" width="100%"
                    class="imgopac">
                <div class="animate">
                    <a href="demo"><p>VIEW PROJECT</p></a>
                </div>
            </div>
            <div class="photo"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/p-5.jpg" alt="" width="100%"
                    class="imgopac">
                <div class="animate">
                    <a href="demo"><p>VIEW PROJECT</p></a>
                </div>
            </div>
            <div class="photo"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/p-4.jpg" alt="" width="100%"
                    class="imgopac">
                <div class="animate">
                    <a href="demo"><p>VIEW PROJECT</p></a>
                </div>
            </div>
        </div>
        <div class="add">
            <h1>LETS MAKE SOMETHING GREAT TOGETHER</h1>
            <P>Test your knowledge with us.(Questions in quiz are rendered threw API)</P>
            <p class="margin20"><a href="quiz" class="quotebtn"> GIVE FREE QUIZ</a></p>
        </div>
    </div>

    <!-- page4 eneded -->
    <div class="page5">
        <div class="professionals" id="myteam">
            <h1 class="opac2">TEAMS</h1>
            <h1 class="title">PROFESSIONALS</h1>
            <a href="about" class="service atag hover">ABOUT US</a>

            <div class="team">
                <div class="profilepic"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/team-1.jpg" alt=""
                        width="100%"></div>
                <h3>PHILIP BROWER</h3>
                <p class="grey">Managing Director </p>
                <div class="media2">
                    <div class="medialogo2"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/facebook-logo.png"
                            alt="" width="15px"></div>
                    <div class="medialogo2"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/twitter-logo.png"
                            alt="" width="15px"></div>
                    <div class="medialogo2"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/linkedin-logo.png"
                            alt="" width="15px"></div>
                </div>
            </div>
            <div class="team">
                <div class="profilepic"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/team-2.jpg" alt=""
                        width="100%"></div>
                <h3>JOHN WICK</h3>
                <p class="grey">Managing Director </p>
                <div class="media2">
                    <div class="medialogo2"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/facebook-logo.png"
                            alt="" width="15px"></div>
                    <div class="medialogo2"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/twitter-logo.png"
                            alt="" width="15px"></div>
                    <div class="medialogo2"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/linkedin-logo.png"
                            alt="" width="15px"></div>
                </div>
            </div>
            <div class="team">
                <div class="profilepic"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/team-3.jpg" alt=""
                        width="100%"></div>
                <h3>JIMMY MCGILL</h3>
                <p class="grey">Managing Director </p>
                <div class="media2">
                    <div class="medialogo2"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/facebook-logo.png"
                            alt="" width="15px"></div>
                    <div class="medialogo2"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/twitter-logo.png"
                            alt="" width="15px"></div>
                    <div class="medialogo2"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/linkedin-logo.png"
                            alt="" width="15px"></div>
                </div>
            </div>
            <div class="team">
                <div class="profilepic"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/team-4.jpg" alt=""
                        width="100%"></div>
                <h3>SARA CONNOR</h3>
                <p class="grey">Managing Director </p>
                <div class="media2">
                    <div class="medialogo2"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/facebook-logo.png"
                            alt="" width="15px"></div>
                    <div class="medialogo2"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/twitter-logo.png"
                            alt="" width="15px"></div>
                    <div class="medialogo2"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/linkedin-logo.png"
                            alt="" width="15px"></div>
                </div>
            </div>
        </div>

    </div>
    </div>

    <!-- page5 ended -->
    <div class="page6">
        <div class="page5-1">
            <h1 class="opac3">CLIENTS</h1>
            <h1 c>TESTIMONIALS</h1>
            <p class="grey">Aenean ut eros et nisl sagittis vestibulum. Fusce neque. Praesent blandit laoreet nibh.
                Morbi mollis tellus ac sapien.</p>
            <p></p><a href="#" class="service atag hover">OUR SERVICES</a></p>
        </div>
        <div class="page5-2">
            <div class="review1">
                <div class="reviews">
                    <div class="decorate"><span>"</span></div>
                    <h4>SARA WILLIAM</h4>
                    <p class="grey">CEO at Webflow</p>
                    <p class="grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nihil tempore hic,
                        aut nobis unde? Nam, incidunt dolorem rerum natus sunt sapiente sit corporis nulla?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores!
                    </p>
                </div>
                <div class="reviews">
                    <div class="decorate"><span>"</span></div>
                    <h4>JOHN JUNIOR</h4>
                    <p class="grey">Manager at Complex</p>
                    <p class="grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nihil tempore hic,
                        aut nobis unde? Nam, incidunt dolorem rerum Lorem ipsum dolor sit. </p>
                </div>
            </div>
            <div class="review1">
                <div class="reviews">
                    <div class="decorate"><span>"</span></div>
                    <h4>RAVEN DURGAN</h4>
                    <p class="grey">Architect at Group</p>
                    <p class="grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. SuscipitNam, incidunt
                        dolorem rerum lore </p>
                </div>
                <div class="reviews">
                    <div class="decorate"><span>"</span></div>
                    <h4>SAMI TYPO</h4>
                    <p class="grey">SEO at Balfin</p>
                    <p class="grey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit Nam, incidunt
                        dolorem rerum natus sunt sapiente sit corporis nulla?</p>
                </div>
            </div>
        </div>
    </div>
    <!-- page6 ended -->
    <div class="page7">
        <h1 class="opac2">BLOG</h1>
        <h1 class="title">LATEST NEWS</h1>
        <a href="blogs" class="service atag hover">NEW BLOG</a>
        <div class="blog">
            <div class="blogpost">
                <div class="date">
                    <div class="day">23</div>
                    <div class="month">MAY</div>
                </div>
                <div><img
                        src="https://assets.website-files.com/61aec2246800346a157a70ad/626f27a12d2fff61c89c22c5_3-tips-before-you-build.jpg"
                        alt="" width="100%"></div>
                <div class="blogpost-text">
                    <h4>3 important tips before you build your new home!
                    </h4>
                    <p>There are a multitude of things you need to consider before you build your new home. And while
                        we’d love to share everything with you.<br>1.The build schedule is a guideline. <br>2.A
                        contingency in your budget is a must. <br>3.Complete the build before moving in. </p>
                    <a href="demo" class="atag read">READ MORE</a>
                </div>
            </div>
            <div class="blogpost">
                <div class="date">
                    <div class="day">17</div>
                    <div class="month">SEP</div>
                </div>
                <div><img
                        src="https://assets.website-files.com/61aec2246800346a157a70ad/625364797e75a0143d143a1e_hardwood-floors-jdg-constructions.jpg"
                        alt="" width="100%"></div>
                <div class="blogpost-text">
                    <h4>Hardwood Flooring vs Engineered Timber Floors.</h4>
                    <p>The flooring you choose in your new home build or renovation can really make or break a space! It
                        might seem like a simple enough choice, there’s actually a lot to consider when selecting your
                        flooring, such as your budget, room utility, style of the room/home and more. <br></p>
                    <a href="demo" class="atag read">READ MORE</a>
                </div>
            </div>
            <div class="blogpost">
                <div class="date">
                    <div class="day">27</div>
                    <div class="month">OCT</div>
                </div>
                <div><img
                        src="https://assets.website-files.com/61aec2246800346a157a70ad/62049c5af5479473ba4d08ba_ceramic-vs-stone-tiles.jpg"
                        alt="" width="100%"></div>
                <div class="blogpost-text">
                    <h4>Natural Stone vs Ceramic Tiles.</h4>
                    <p>When it comes to choosing the right flooring for your new home build or renovation, it’s
                        important to choose something that fits in with the style as well as fitting in with how you
                        live your life.
                        We’ll help you select the most appropriate flooring that you’ll love!
                    </p>
                    <a href="demo" class="atag read">READ MORE</a>
                </div>
            </div>
        </div>

        <div class="partners">
            <div class="partnersdiv1">
                <p>TRUSTED BY TOP COMPANIES</p>
            </div>
            <div class="partnersdiv2">
                <a href="demo">
                    <div class="partnerslogo"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-1w.png"
                            alt="" width="100%"></div>
                </a>
            </div>
            <div class="partnersdiv2">
                <a href="demo">
                    <div class="partnerslogo"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-2w.png"
                            alt="" width="100%"></div>
                </a>
            </div>
            <div class="partnersdiv2">
                <a href="demo">
                    <div class="partnerslogo"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-3w.png"
                            alt="" width="100%"></div>
                </a>
            </div>
            <div class="partnersdiv2">
                <a href="demo">
                    <div class="partnerslogo"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-4w.png"
                            alt="" width="100%"></div>
                </a>
            </div>
            <div class="partnersdiv2">
                <a href="demo">
                    <div class="partnerslogo"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-5w.png"
                            alt="" width="100%"></div>
                </a>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer">
            <h5 class="on-line">ABOUT NUUK</h5>
            <p>Based on collective work and shared knowledge, Nuuk aims to favor dialogue and debate, to transform
                individual knowledge into increased creative potential.</p>
            <a href="https://www.google.com/maps" class="atag">
                <p class="linktext">FIND ON MAP</p>
            </a>
        </div>

        <div class="footer">
            <h5 class="on-line">SERVICES </h5>
            <a href="service" class="atag ">
                <p class="linktext ">FINNANCIAL RESULTS</p>
            </a>
            <a href="service" class="atag">
                <p class="linktext">CONSTRUCTION</p>
            </a>
            <a href="service" class="atag">
                <p class="linktext">ARCHITECTURE</p>
            </a>
            <a href="service" class="atag">
                <p class="linktext">RENOVATION</p>
            </a>
        </div>

        <div class="footer"><br>
            <h5 class="on-line">CONTACT US</h5>
            <div><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/phone.svg" alt="" width="15px"> <span>PHONE
                    NUMBER</span>
                <p class="grey">1-800-506-266</p>
            </div>
            <div><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/clock.svg" alt="" width="15px"> <span>OPENING
                    TIMES</span>
                <p class="grey">Mon-Sat 8:00-17:30, Sunday-Closed</p>
            </div>
            <div><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/mail.svg" alt="" width="15px">
                <span>CONTACT</span>
                <p class="grey">contact@nuuk.com</p>
            </div>

        </div>
        <div class="logo2"><a href="home"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-white.png"
                    alt="logo" width="100px"></a></div>
    </footer>
</body>

</html>