<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>
    <link rel="shortcut icon" href="https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-white.png" type="image/x-icon">
    <title>NUUX Projects</title>
</head>

<body>
    <!-- header -->
    <div class="bgimg">
        <nav class="navbar">
            <div class="logo"><a href="home"><img
                        src="https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-white.png" alt="logo" width="100px"></a>
            </div>
            <ul class="menu">
                <li class="menuitem"><a href="home" class="atag">HOME</a></li>
                <li class="menuitem"><a href="project" class="atag">PROJECTS</a></li>
                <li class="menuitem"><a href="about" class="atag">ABOUT</a></li>
                <li class="menuitem"><a href="service" class="atag">SERVICES</a></li>
                <li class="menuitem"><a href="blogs" class="atag">BLOG</a></li>
                <li class="menuitem dropit">PAGES <img
                            src="https://nuuk-e3eaa.firebaseapp.com/assets/img/sort-down.svg" alt=">" width="9px">

                        <ul class="dropdown">
                            <li class="drop"><a href="error" class="atag"> 404 ERROR PAGE</a></li>
                            <li class="drop"><a href="protected" class="atag"> PROTECTED PAGE</a></li>
                            <li class="drop"><a href="license" class="atag"> LICENSING</a></li>
                        </ul>
                    </li>
            </ul>
            <div class="getform bringform">
                <p class="">GET FREE QUOTE <br>( hover here )</p>
                <div class="quoteform">
                    <h1>GET A FREE QUOTE</h1>
                    <form action="" method="get">
                        <input type="text" name="" id="text" placeholder="FULL NAME" class="form">
                        <input type="email" name="" id="" placeholder="EMAIL ADDRESS" class="form">
                        <input type="tel" name="" id="" placeholder="PHONE NUMBER" class="form">
                        <textarea name="info" id="" cols="30" rows="5" class="form"
                            placeholder="MORE INFORMATION"></textarea>
                        <input type="submit" value="SEND MESSAGE" class="btn">
                    </form>
                </div>
            </div>
        </nav>

        <div class="quote">
            <h1 class="quote1">YOU DREAM. WE CREATE.</h1>
            <p class="quote2">We turn your ideas to reality, we dont stop until you're satisfied.</p>
            <a href="quiz"><input type="button" name="btn" class="btn " value="Quiz"></a>
        </div>
        <div class="info">
            <div class="infodiv"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/phone.svg" alt="phone"
                    width="25px">
                <p class="white">PHONE NUMBER</p>
                <p>1-800-506-266</p>
                <p>1-100-777-800</p>
            </div>
            <div class="infodiv"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/mail.svg" alt="mail"
                    width="25px">
                <p class="white">CONTACT</p>
                <p>contact@nuuk.com</p>
                <p>info@nuuk.com</p>
            </div>
            <div class="infodiv"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/clock.svg" alt="" width="25px">
                <p class="white">OPENING TIMES</p>
                <p>Mon - Sat 8:00 - 17:30, Saturday-Closed</p>
                <a href="#" class="atag white">FIND ON MAP</a>
            </div>
        </div>

        <div class="media">
            <div class="medialogo"><a href="https://www.facebook.com/"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/facebook-logo.png" alt="" width="15px"></a>
            </div>
            <div class="medialogo"><a href="https://twitter.com/i/flow/login"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/twitter-logo.png" alt=""
                    width="15px"></a>   </div>
            <div class="medialogo"><a href="https://in.linkedin.com/"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/linkedin-logo.png" alt=""
                    width="15px"></a>   </div>
            <div class="medialogo"><a href="https://www.instagram.com/"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/instagram-logo.png" alt=""
                    width="15px"></a>
            </div>
        </div>

    </div>
    <br><br>
    <!-- content -->
    <div class="page4">
        <h1 class="opac2">PROJECTS</h1>
        <h1 class="title">OUR WORK</h1>
        <a href="#" class="service atag hover">VIEW ALL SERVICES</a>
        <div class="work">
            <div class="photo"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/p-1.jpg" alt="" width="100%"
                    class="imgopac">
                <div class="animate">
                    <a href="demo"><p>VIEW PROJECT</p></a>
                </div>
            </div>
            <div class="photo"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/p-4.jpg" alt="" width="100%"
                    class="imgopac">
                <div class="animate">
                    <a href="demo"><p>VIEW PROJECT</p></a>
                </div>
            </div>
            <div class="photo"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/p-3.jpg" alt="" width="100%"
                    class="imgopac">
                <div class="animate">
                    <a href="demo"><p>VIEW PROJECT</p></a>
                </div>
            </div>

            <div class="photo"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/p-6.jpg" alt="" width="100%"
                    class="imgopac">
                <div class="animate">
                    <a href="demo"><p>VIEW PROJECT</p></a>
                </div>
            </div>
            <div class="photo"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/p-5.jpg" alt="" width="100%"
                    class="imgopac">
                <div class="animate">
                    <a href="demo"><p>VIEW PROJECT</p></a>
                </div>
            </div>
            <div class="photo"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/p-4.jpg" alt="" width="100%"
                    class="imgopac">
                <div class="animate">
                    <a href="demo"><p>VIEW PROJECT</p></a>
                </div>
            </div>
        </div>
        <div class="add">
            <h1>LETS MAKE SOMETHING GREAT TOGETHER</h1>
            <P>Get in touch with us and send some basic info for a quick quote.</P>
            <p class="margin20"><a href="quiz" class="quotebtn">TRY FREE QUIZ</a></p>
        </div>
    </div>
    
    <!-- footer -->
    <footer>
        <div class="footer">
            <h5 class="on-line">ABOUT NUUK</h5>
            <p>Based on collective work and shared knowledge, Nuuk aims to favor dialogue and debate, to transform
                individual knowledge into increased creative potential.</p>
            <a href="https://www.google.com/maps" class="atag">
                <p class="linktext">FIND ON MAP</p>
            </a>
        </div>

        <div class="footer">
            <h5 class="on-line">SERVICES </h5>
            <a href="service" class="atag ">
                <p class="linktext ">FINNANCIAL RESULTS</p>
            </a>
            <a href="service" class="atag">
                <p class="linktext">CONSTRUCTION</p>
            </a>
            <a href="service" class="atag">
                <p class="linktext">ARCHITECTURE</p>
            </a>
            <a href="service" class="atag">
                <p class="linktext">RENOVATION</p>
            </a>
        </div>

        <div class="footer"><br>
            <h5 class="on-line">CONTACT US</h5>
            <div><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/phone.svg" alt="" width="15px"> <span>PHONE
                    NUMBER</span>
                <p class="grey">1-800-506-266</p>
            </div>
            <div><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/clock.svg" alt="" width="15px"> <span>OPENING
                    TIMES</span>
                <p class="grey">Mon-Sat 8:00-17:30, Sunday-Closed</p>
            </div>
            <div><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/mail.svg" alt="" width="15px">
                <span>CONTACT</span>
                <p class="grey">contact@nuuk.com</p>
            </div>

        </div>
        <div class="logo2"><a href="home"><img src="https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-white.png"
                    alt="logo" width="100px"></a></div>
    </footer>
</body>

</html>